.main-heading {
  font-size: 20px;
  margin: 0 0 10px -10px
}

.container {
  margin-top: 0px;
}

.card {
  font-size: 17px;
  background-color: #222222;
}

.card-block {
  margin-left: 20px
}

.card ul, li {
  margin-left: 0px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0
}
