@import 'styles-variables';

.background {
  padding: 100px 0;
  position: relative;

  h1 {
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    line-height:20px;
    margin-top:-40px;
  }

  .actions {
    text-align: center;
    margin: 50px;
    z-index: 1;

    span {
      display: inline-block;
      font-weight: bold;
      padding: 10px;
    }

    a {
      margin: 0 0 10px 0;
    }
  }

  .intro {
    width: 80%;
    margin: 30px auto 0 auto;
    padding-bottom: 0px;
    font-size: 1.3em;
    letter-spacing: .01px;

    z-index: 1;
    background-color: rgba(180,180,180,0.5);
    border-radius: 20px;

    code {
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
    }
  }


  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/intro.jpg') no-repeat center top;
    background-size: cover;
    opacity: .7;
    content: "";
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 30%;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      z-index: 0;
    }
  }

}

@media (max-width: map-get($grid-breakpoints, md)) {
  .background {

    .get-started {
      width: auto;
    }
    .container {
      margin-left: 10px;
      margin-top: 0px;
      width: 94%;
    }
    .ProfilePhoto {
      width: 40%;
    }
    .about {
      margin-top: -45%;
      margin-left: 45%;
      padding-bottom:0%;
      width:70%;
      height:120px;
      overflow:none;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0;

    h1 {
      line-height: 1.5em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 0 0 10px 0;
      }

      a {
        width: 100%;
      }
    }

    .get-started {
      width: auto;
      margin: 40px auto 0 auto;
      padding-bottom: 40px;
    }
  }
}
