<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Welcome.</h1>
        <div class="intro container" [ngClass]="animateOnRouteEnter"><br>
          <div class="col-xs-3">
                <div style="margin-bottom: 10px">
                  <img src="../../assets/images/ProfilePhotoSmall.png" alt="This is me"><br>
                </div>
                Name: Pat Emery<br>Location: Boston<br>Occupation: Grad Student<br> Github: patemeryfl
                <div class="" style="margin-bottom: 10px; margin-top: 10px">
                  <a href="https://www.facebook.com/Emery.Pat" target="_blank">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/patemeryfl/" target="_blank">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.twitter.com/patemeryfl" target="_blank">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                  </a>
                  <a href="mailto:patemery21@gmail.com?Subject=Hey%20Pat" target="_top">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/patrick-emery-20234241" target="_blank">
                    <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                  </a>
                  <a href="http://www.youtube.com/c/PatEmery" target="_blank">
                    <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                 </a>
                </div>
          </div>
          <div class="col-xs-9">
            I enjoy writing and designing applications and using various frameworks to optimize functionality.
            I am passionate about intuitive user-interfaces that focus on the human aspect of design and features.
            Each application I have written has helped me build my knowledge of the web applications and their
            stack environment. I spend every day learning about the new enhancements to different programming
            languages and finding ways to improve my code. My objective is to help build functional and
            well-designed applications that will help guide the way that we interact with technology.
          </div>
        </div>
    </div>
  </div>
</div>
