<div class="container">
    <div class="card">
      <div class="form-group">
        <h1>Login to Your Account</h1><br>

        <button class="btn btn-default">Login With Google</button>

        <form>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
          <div class="login-help text-center"><br>
            <button disabled class="btn btn-primary" id="quickstart-sign-in" name="signin">Sign In</button>
            <button class="btn btn-default" id="quickstart-sign-up" name="signup">Sign Up</button>
            <button class="btn btn-danger" id="quickstart-password-reset" name="verify-email">Send Password Reset Email</button>
          </div>
        </form>
      </div>
    </div>

  <button disabled id="quickstart-verify-email" name="verify-email">Send Email Verification</button>
  <!-- Container where we'll display the user details -->
  <div class="quickstart-user-details-container">
    Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
    <div>Firebase auth <code>currentUser</code> object value:</div>
    <pre><code id="quickstart-account-details">null</code></pre>
  </div>
</div>

