@import 'styles-variables';

.container {
  margin-top: 20px;
}

.card {
  font-size: 17px;
  margin-left: 20px;
}
.card ul, li {
  margin-left: -10px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0
}
