<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Projects</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.angular}}</code>Story Friends</md-card-title>
        <md-card-subtitle>
          Description of what I did for Story Friends
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/StoryFriendsWebApp/blob/master/README.md" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/patemeryfl/StoryFriendsWebApp" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.material}}</code>React Projects</md-card-title>
        <md-card-subtitle>
          List of projects that I have worked on using the React Framework
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/ReactYoutube" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.angularCli}}</code>Virtual Realty</md-card-title>
        <md-card-subtitle>
          A webapp designed for my senior project for the modern world of realty.
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/BlueOmenVR/blob/master/README.md" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/patemeryfl/BlueOmenVR" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.ngrx}}</code>Intel RealSense</md-card-title>
        <md-card-subtitle>
          Computer Vision project involving RGBD-Slam Mapping with an Intel R200
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/IntelRealSense" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
          <a md-button href="https://github.com/patemeryfl/IntelRealSense/blob/master/docs/testing.md" target="_blank">
            <i class="fa fa-code fa-lg"></i> Testing
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.rxjs}}</code>Python Projects</md-card-title>
        <md-card-subtitle>
          Traffic accident monitor using Python XML tree reader and plot.ly
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/TrafficXML/blob/master/readme.md" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/patemeryfl/TrafficXML" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.bootstrap}}</code>Movie Review</md-card-title>
        <md-card-subtitle>
          C++ School Project that reads movie reviews from Rotten Tomatoes and produces a sentiment analysis
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/MovieReview/blob/master/readme.md" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/patemeryfl/MovieReview" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
