<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Projects</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.angular}}</code>Story Friends</md-card-title>
        <md-card-subtitle>
          Description of what I did for Story Friends
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/ReactYoutube" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>

        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.material}}</code>React Projects</md-card-title>
        <md-card-subtitle>
          List of projects that I have worked on using the React Framework
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/patemeryfl/ReactYoutube" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.angularCli}}</code>Virtual Realty</md-card-title>
        <md-card-subtitle>
          A webapp designed for my senior project for the modern world of realty.
          Made with jQuery/jQueryIU, WebGL & Google APIs.
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/angular/angular-cli/wiki/generate" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/angular/angular-cli" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.ngrx}}</code>ngRx</md-card-title>
        <md-card-subtitle>
          One way data flow powered by RxJS Observables
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://github.com/ngrx/platform" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
          <a md-button href="https://github.com/ngrx/effects/blob/master/docs/testing.md" target="_blank">
            <i class="fa fa-code fa-lg"></i> Testing
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.rxjs}}</code>RxJS</md-card-title>
        <md-card-subtitle>
          Reactive programming with async collections using Observables.
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="http://reactivex.io/rxjs/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/ReactiveX/RxJS" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <div  class="col-md-6 col-lg-4" [ngClass]="animateOnRouteEnter">
      <md-card>
        <md-card-title><code>{{versions.bootstrap}}</code>Bootstrap</md-card-title>
        <md-card-subtitle>
          Responsive layout from battle tested, world most famous UI library
        </md-card-subtitle>
        <md-card-actions>
          <a md-button href="https://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">
            <i class="fa fa-book fa-lg"></i> Docs
          </a>
          <a md-button href="https://github.com/twbs/bootstrap" target="_blank">
            <i class="fa fa-github fa-lg"></i> Github
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
