@import '~@angular/material/theming';

@mixin blog-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-blog {

    md-card-title {
      color: mat-color($foreground, text);
      background-color: mat-color($primary, darker);
      margin-bottom:-15px!important;
      padding: 15px!important;
    }
    .blog {
      border-color: mat-color($primary, darker);
      border-width: 0 5px 5px 5px!important;
    }
  }
}
