<div class="container">
    <h1 class="main-heading">Blog</h1>
    <div style="height:400px; overflow-y: scroll;">
        <div *ngFor="let blogBody of blogContent | async"
        [ngClass]="animateOnRouteEnter">
        <md-card-title>
            {{ blogBody.title }}
            <md-card-subtitle>{{ blogBody.date_edited | date:'short'}}</md-card-subtitle>
          </md-card-title>
        <md-card class="blog">
            <md-card-content>
              <p>{{ blogBody.body }}</p>
            </md-card-content>
            <md-card-actions class="text-center">
                <a md-button href="" target="_blank">
                  <i class="fa fa-share fa-lg"></i> Share
                </a>
                <a md-button href="" target="_blank">
                  <i class="fa fa-comments fa-lg"></i> Comment
                </a>
              </md-card-actions>
          </md-card>
        </div>
  </div>


  <div class="form-group" id="content-creator" hidden>
    <label><p>Title</p></label>
    <input class="form-control" type="text" placeholder="Title" name="title" id="title"><br/>
    <label><p>Body</p></label>
    <textarea class="form-control" name="body" id="body" rows="5" placeholder="Body Text"></textarea><br/>
    <button id="submit-button" class="btn btn-primary">
      Submit
    </button>
  </div>
