nav {
  margin-bottom: 20px;
}

nav a:hover {
  text-decoration: none !important;
  display: inline-block;
  background-color:  #555555;
  color: #EEEEEE;
}

nav a:link {
  text-decoration: none !important;
}
