<div class="container">
  <h1 class="main-heading">Contact</h1>
  <div class="card">
    <div class="card-block">
      <div class="row">
        Are you interested in some of the work that I do?<br>
        Let me know in the form below!<br>
        Technology I work with:
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="card-title">Frameworks</div>
          <ul>
            <li>Angular</li>
            <li>React</li>
            <li>HTML5/CSS</li>
            <li>Word Press</li>
          </ul>
        </div>
        <div class="col-xs-6">
          <div class="card-title">Back-End</div>
          <ul>
            <li>Microsoft Azure</li>
            <li>Firebase</li>
            <li>SQL/PHP</li>
            <li>MongoDB</li>
          </ul>
        </div>
    </div>
    <form id="contactForm">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="formName" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn btn-success pull-right" type="submit">Send</button>
          </div>
        </div>
    </form>
  </div>
</div>
