<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Contact</h2>
    </div>
    <div class="card-block">
      <div class="row">
        Consulting Work I Do:
        <ul>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
          <li>Something</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="formName" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn btn-success pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
