<div class="container">
  <h1 class="main-heading">Education</h1>

  <md-card>
    <md-card-title>M.S. Software Development<md-card-subtitle>Boston University 2019</md-card-subtitle></md-card-title>
    <md-card-content>
      <div class="wrapper">
        <md-list *ngFor="let class of masters | slice:0:4">
          <md-list-item><span class="fa fa-chevron-right">&nbsp;</span>{{class}}</md-list-item>
        </md-list>
        <md-list *ngFor="let class of masters | slice:4:9">
          <md-list-item><span class="fa fa-chevron-right">&nbsp;</span>{{class}}</md-list-item>
        </md-list>
      </div>
      <br><md-divider></md-divider><br>
      <md-card-title>B.S. Information Technology<md-card-subtitle>University of South Florida 2017</md-card-subtitle></md-card-title>
      <div class="wrapper">
          <md-list *ngFor="let class of bachelors | slice:0:3">
              <md-list-item><span class="fa fa-chevron-right">&nbsp;</span>{{class}}</md-list-item>
            </md-list>
            <md-list *ngFor="let class of bachelors | slice:3:7">
              <md-list-item><span class="fa fa-chevron-right">&nbsp;</span>{{class}}</md-list-item>
            </md-list>
      </div>
    </md-card-content>
  </md-card>

