.container {
  margin-top: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(20px, auto);
}

md-list-item {
  height: 30px!important;
}
md-list {
  margin-top:-20px;
}

.main-heading {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 20px 0
}

@media screen and (max-width: 745px){
  md-list-item {
    height: 50px!important;
    font-size: 15px!important;
  }
  span {display: none;}
}

