<div class="container">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="card-title">
          <h3>Features</h3>
          <div class="card-text">
            <div class="col-xs-6">
              <p>Angular</p>
              <p>NodeJS</p>
              <p>Express</p>
            </div>
            <div class="col-xs-6">
              <h5>Firebase</h5>
              <h5>Bootstrap</h5>
              <h5>Github</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-title">
          <h3>Progressiveness</h3>
          <div class="card-text">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-title">
          <h3>Future Updates</h3>
          <div class="card-text">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
